<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录 - AT官网</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/edmure.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
    <style>

    </style>
</head>
<body>

<div class="login">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        AT后台管理登录界面
    </div>
    <form id="fm2" action="/login/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" value="{{ path_info }}" name="path_info" style="display: none;" />
        <div class="form-group">
            <label for="username">用户名</label>
            {{ obj.username }}
            <span style="color: red;">{{ obj.errors.username.0 }}</span>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            {{ obj.password }}
            <span style="color: red;">{{ obj.errors.password.0 }}</span>
        </div>
        <div class="form-group">
            <span style="color: red;">{{ user_err }}</span>
        </div>
        <div style="">
            <input type="submit" class="btn btn-default" id="login" value="登录" style="background-color: #5bc0de;" />
        </div>
    </form>
    <div style="height: 20px;"></div>
    <div class="form-group">
        没有账户，
        <a href="/register/">申请管理员账号</a>
    </div>
    <div style="height: 10px;"></div>
    <div class="form-group">
        <a href="/index/">前往AT首页</a>
        </div>
    </div>
</div>

<script src="/static/js/jquery-1.12.4.js"></script>
<script>
    function changeCheckCode(ths) {
        ths.src = ths.src + "?";
    }

    function change(ths){
        if(ths.value == "{{ request.session.username }}"){
            console.log("{{ request.session.username }}");
            $('#password').val({{ request.session.password }});
        }
        console.log('123');

    };
</script>
</body>
</html>